# Mr Haulage Order Forecasting

Contained in this notebook are the forecasting methods used to predict orders over the next two years

### Libraries

In [1]:
import pandas as pd 
import numpy as np

### Data Loading

In [3]:
orders = pd.read_csv("../data/clean/orders.csv")
orders.head()

,Order ID,Customer ID,Order Date,Order Time,Item Serial,Box Type,Delivery Region,Distance (miles)
0,1097342,733603,22/08/2021,00:14,30351,Small,South East,70
1,1097343,405061,22/08/2021,07:08,17634,Small,Greater London,32
2,1097344,842139,22/08/2021,10:15,25598,Small,South West,190
3,1097345,211806,22/08/2021,17:05,10104,Small,South West,85
4,1097346,103222,22/08/2021,23:48,3252,Small,Greater London,43

### Data Manipulation